[Unit]
Description=M3USort server
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/M3Usort
ExecStart=/usr/bin/python3 /root/M3Usort/run.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
