{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h4>Login</h4>
    <div class="row">
        <div class="twelve columns">
            <form action="{{ url_for('login') }}" method="post">
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required autofocus>
                </div>
                <div>
                    <input class="button-primary" type="submit" value="Login" style="margin-top: 1rem;">

                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}