{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="eight columns">
            <h4>Search and save movies</h4>
            <!-- Content -->
            <div id="main">
                <div class="search-container">
                    <input type="text" class="u-full-width" id="search-bar" placeholder="Search movies..."
                        onkeyup="searchMovies()">
                </div>
                <ul id="movies-list">
                    {% for movie in movies %}
                    <li><a href="javascript:void(0)" class="movie-link" data-movie-name="{{ movie.name }}"
                            data-movie-id="{{ movie.stream_id }}">{{ movie.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="four columns">
            <div id="main">
                <h4>Watchlist</h4>
                <div>
                    <form method="POST" action="{{ url_for('main_bp.add_wanted_movie') }}">
                        <input type="text" class="u-full-width" id="wanted_movie" name="wanted_movie"
                            placeholder="Add movie to watchlist">
                    </form>
                </div>
                <ul id="wanted-movies-list">
                    {% for wanted_movie in wanted_movies %}
                    <li> <a href="javascript:void(0)" class="wanted-movie-link" style="text-decoration: none;"
                            data-movie-name="{{ wanted_movie }}">&#10060;</a> {{ wanted_movie }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-text">Are you sure you want to add this movie?</p>
        <button class="button-primary" id="confirmBtn" style="margin-right: 10px;">Yes</button>
        <button id="cancelBtn">No</button>
    </div>
</div>

<script>
    // Function to hide flash messages
    function hideFlashMessagesAfterDelay() {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(flashMessage => {
            setTimeout(() => {
                flashMessage.style.opacity = '0';
                setTimeout(() => flashMessage.remove(), 600); // Wait for opacity transition, then remove
            }, 5000); // Hide after 5 seconds (5000ms)
        });
    }

    function addMovieToServer(movieName, movieId) {
        fetch('{{ url_for("main_bp.add_movie_to_server") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ movieName, movieId }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Output the response from the server

                var flashMessagesContainer = document.getElementById('flash-messages-container');
                var flashMessageDiv = document.createElement('div');
                flashMessageDiv.textContent = data.message;
                flashMessageDiv.className = 'flash-message info'; // Adjust class name as needed
                flashMessagesContainer.appendChild(flashMessageDiv);

                // Hide the newly created flash message after delay
                hideFlashMessagesAfterDelay();
            })
            .catch(error => console.error('Error:', error));
    }

    function RemoveWantedMovie(movieName) {
        fetch('{{ url_for("main_bp.remove_wanted_movie") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ movieName }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Output the response from the server
                location.reload();

                var flashMessagesContainer = document.getElementById('flash-messages-container');
                var flashMessageDiv = document.createElement('div');
                flashMessageDiv.textContent = data.message;
                flashMessageDiv.className = 'flash-message info'; // Adjust class name as needed
                flashMessagesContainer.appendChild(flashMessageDiv);

                // Hide the newly created flash message after delay
                hideFlashMessagesAfterDelay();
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById("myModal");
        const modalText = document.getElementById("modal-text");
        const confirmBtn = document.getElementById("confirmBtn");
        const cancelBtn = document.getElementById("cancelBtn");
        const span = document.getElementsByClassName("close")[0];
        const movieLinks = document.querySelectorAll('.movie-link');
        const wantedMovieLinks = document.querySelectorAll('.wanted-movie-link');

        movieLinks.forEach(link => {
            link.addEventListener('click', function () {
                const movieName = this.getAttribute('data-movie-name');
                const movieId = this.getAttribute('data-movie-id');
                modalText.innerHTML = `Are you sure you want to add Movie '${movieName}'?`;
                modal.style.display = "block";

                confirmBtn.onclick = function () {
                    console.log("Adding movie:", movieName, "ID:", movieId);
                    modal.style.display = "none";
                    addMovieToServer(movieName, movieId);
                };
            });
        });

        wantedMovieLinks.forEach(link => {
            link.addEventListener('click', function () {
                const movieName = this.getAttribute('data-movie-name');
                modalText.innerHTML = `Are you sure you want to remove '${movieName}' from the wanted list?`;
                modal.style.display = "block";

                confirmBtn.onclick = function () {
                    console.log("Removing movie:", movieName);
                    modal.style.display = "none";
                    RemoveWantedMovie(movieName);
                };
            });
        });

        cancelBtn.onclick = function () {
            modal.style.display = "none";
        };

        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    });

    function searchMovies() {
        let input = document.getElementById('search-bar').value.toLowerCase();
        let movieItems = document.querySelectorAll('#movies-list li');

        for (let i = 0; i < movieItems.length; i++) {
            let movieName = movieItems[i].textContent || movieItems[i].innerText;
            if (movieName.toLowerCase().indexOf(input) > -1) {
                movieItems[i].style.display = "";
            } else {
                movieItems[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}